.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  max-width: 400px;
  padding: 3%;
  z-index: 1000;
}

.infos {
  font-weight: bold;
}

mat-form-field {
  display: block;
  padding: 2%;
}

h2 {
  color: rgba(241, 75, 75, 0.836);
  margin-bottom: 15px;
}

button {
  margin-top: 25px;
}

p {
  margin-top: 25px;
}
