.navbar {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: rgb(255, 78, 78);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin-left: 20px;
    margin-top: 15px;
    outline: none;
  }
  .login {
    margin-right: 15px;
    mat-icon {
      vertical-align: middle;
    }
    span {
      font-size: 12pt;
    }
  }
}

h1 {
  font-family: 'sketchie';
  font-size: 28pt;
}

.titre-bankroll {
  font-size: 16pt;
  font-style: italic;
}
