.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.contenu-dialog {
  display: flex;
  width: 200px;
  flex-direction: column;
  font-size: 11pt;
  margin-left: 10px;
}

.bouton-action {
  display: flex;
  justify-content: flex-end;
}
