
.card {
  width: 250px;
  height: 100%;
  margin-left: 20px;
  margin-top: 15px;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 8px 5px 4px rgba(253, 84, 84, 0.774);
}

.nom {
  font-size: 18pt;
}

.description {
  font-size: 11pt;
  font-weight: 300;
  font-style: italic;
}
.objectif {
  font-size: 14pt;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .icon-cible {
    font-size: 18pt;
    color: rgb(6, 170, 0);
    text-align: end;
    vertical-align: auto;
  }
}
