.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.graph-gains {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

legend {
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}
