
.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 110, 110);
}

.background {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/poker-bg.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 24%, 0 85%);
}

mat-card {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  width: 350px;
  height: 300px;
}

mat-form-field {
  display: block;
  padding: 2%;
}

h2 {
  color: rgba(235, 72, 72, 0.836);
  margin-bottom: 15px;
  font-family: 'sketchie';
  font-size: 30pt;
}

