<mat-drawer-container>
  <mat-drawer class="navbar" mode="side" opened>
    <mat-nav-list class="list-navbar">

      <a mat-list-item
        [routerLink]="'/bm/bankroll'"
        routerLinkActive="is-active">Mes bankrolls</a>

      <a mat-list-item
        [routerLink]="'/bm/games'"
        routerLinkActive="is-active"
        *ngIf="hasBankrollChoose()">Mes parties</a>

      <a mat-list-item
        [routerLink]="'/bm/stats'"
        routerLinkActive="is-active"
        *ngIf="hasBankrollChoose()">Statistiques</a>

        <a mat-list-item
        [routerLink]="'/bm/alerte'"
        routerLinkActive="is-active"
        *ngIf="hasBankrollChoose()">Alertes</a>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content  style="height: 100vh;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
