
<ngx-charts-line-chart
    #chart
    [view]="view"
    [scheme]="colorScheme"
    [yAxis]="yAxis"
    [timeline]="timeline"
    [results]="multi"
    [legend]="legend"
    (select)="onSelect($event)"
    >
    <ng-template #tooltipTemplate let-model="model">
        <div *ngIf="model.series === 'Gain espéré'">
          <div class="tooltiptemplate" *ngIf="model.name === '0'">Mise de départ : {{ model.value }}€</div>
          <div class="tooltiptemplate" *ngIf="model.name > '0'">Objectif : {{ model.value }}€</div>
        </div>
        <div *ngIf="model.series === 'Bankroll'">
          <div class="tooltiptemplate">Bankroll : {{ model.value }}€</div>
        </div>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model="model">
      <div class="serieTemplate">{{ model[0].value }}€</div>
  </ng-template>
</ngx-charts-line-chart>

